@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <title>Index</title>
</head>
<body>
    <div>@ViewBag.MessageErreur</div>
    <div>
        @Html.ActionLink("Liste des personnages", "Index", "Personnages", null, new { @class = "BoutonAcces" })
    </div>
    <div>
        @Html.ActionLink("Liste des univers", "Index", "Univers", null, new { @class = "BoutonAcces" })
    </div>
    <div>
        @Html.ActionLink("Liste des pouvoirs", "Index", "Pouvoirs", null, new { @class = "BoutonAcces" })
    </div>
</body>
</html>
